.fig {text-align: center;}
/* КОММЕНТАРИИ */
.comments {margin: 20px 0 20px 0;}
.comments h3 {
    text-align: left;
    font-weight: normal;
    text-transform: none;
    border-bottom: none;
}
/* Автарка комментария */
.comments .img-thumbnail {
    border: none;
    margin: 0;
    width: 50px;
}
/* Имя автора коммента */
.comments .media-body .author {
    display: block;
    font-size: 18px;
    color: #545454;
    font-weight: 600;
}
/* Статистика автора */
.comments .media-body .metadata {
    display: block;
    color: #545454;
    font-size: 14px;
}
.comments .post_statistics:first-child {margin-left: 0;}
.comments .post_statistics a {color: #545454;}
.comments .post_statistics a:hover {color:#46b690;}
/* Текст комментария */
.comments .media-text {
    text-indent: 25px;
    line-height: 1.5em;
    margin-bottom: 0.25rem;
    font-size: 20px;
}
/* Кнопка ответить*/
.comments .btn-default {
    color: #545454;
    background-color: #fff;
}
.comments .btn {
    -moz-border-radius: 15px!important;
    -webkit-border-radius: 15px!important;
    -o-border-radius: 15px!important;
    border-radius: 15px!important;
    border: 2px solid #f5f5f5;
}
.comments .btn:hover{background: #f5f5f5; color:#46b690;}
.comments .btn:active{border: none;}
/*Должны авторизоваться*/
.not-authorized {
    color: #545454;
    font-size: 20px;
    background: rgba(219, 160, 160, 0.77);
    padding: 20px 10px 20px 10px;
    -moz-border-radius: 15px!important;
    -webkit-border-radius: 15px!important;
    -o-border-radius: 15px!important;
    border-radius: 15px!important;
    border: 2px solid #e09696;
}