.autorization {
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 40px 50px;
}
.registr {
    background: #fff;
    box-shadow: 0 1px 3px rgba(76,105,137,.28);
    border: 1px solid #cbd6e2;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
}
.registr:hover {
    webkit-box-shadow: 0 0 10px 0 rgba(76,105,137,0.61);
    -moz-box-shadow: 0 0 10px 0 rgba(76,105,137,0.61);
    box-shadow: 0 0 10px 0 rgba(76,105,137,0.61);
}
.autorization h2 {
    text-transform: uppercase;
    display: block;
    margin: 0 0 30px 0;
    color: #4c6989;
    text-align: center;
}

.autorization input[type="text"], .autorization input[type="password"] {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.checkbox {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #4c6989;
}
/* Стилизация кнопки */
.button-ready {
    text-align: center;
    margin-top: 30px;
}
.button-ready .btn-primary {
    font-size: 16px;
    color: #fff;
    background: #6686aa!important;
    outline: none!important;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    border: none;
}
.button-ready .btn-primary:hover {
    background: #5a7ca2!important;
    outline: none!important;
}
.button-ready .btn-primary:active {
    background: #537396!important;
    outline: none!important;
    border: none;
}
/* Ссылка на авторизацию */
.registration-footer {
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}
.registration-footer-link {
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding:  0 12px 0 12px;
}
.registration-footer-link a {
    color: #4c6989;
    font-weight: bold;
}
.registration-footer-link a:hover {color: #000;}
.alternative {
    color: #4c6989;
    margin-top: 15px;
}
/* Ссылка на соц.сети*/
.social {
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 5px;
}
.social a {margin-left: 15px;}
.social img {
    -moz-transition: all 1ms ease-out;
    -o-transition: all 1ms ease-out;
    -webkit-transition: all 1ms ease-out;
}
.social img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}